<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <h3><strong>Sign Up</strong></h3>
    <div class="loginWrap">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input 
                    type="text" 
                    id="firstName" 
                    class="form-control"
                    formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input 
                    type="text" 
                    id="lastName" 
                    class="form-control"
                    formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="email" 
                    id="email" 
                    class="form-control"
                    formControlName="email">
            </div>
            <div class="form-group">
                <label for="firstName">Password</label>
                <input 
                    type="password"
                    id="password" 
                    class="form-control"
                    formControlName="password">
            </div>
            <div class="text-center">
                <button 
                    class="btn btn-primary text-center" 
                    type="submit"
                    [disabled]="!myForm.valid">Register</button>
            </div>
        </form>
        <hr id="divider">
        <div class="text-center">
            <p><strong>Already have an account?</strong></p>
            <a routerLink="/auth/signin" class="btn btn-success">Sign in instead!</a>
        </div>
    </div>
</div>